{% extends 'base.html' %}

{% block title %} | Cadastrar médico{% endblock title %}

{% block content %}
{% include 'partials/_alerts.html' %}
<section id="criar-paciente" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Cadastrar médico</h4>
            </div>
            <div class="card-body">
              <form id="criar-medico-form" action="{% url 'adicionar-medico' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="public-key" id="public-key">
                <div class="form-group">
                    <label for="id-paciente">CRM</label>
                    <input type="text" name="id-medico" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="data_nascimento">Nascimento</label>
                    <input type="date" name="data_nascimento" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="tel" name="telefone" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" class="form-control" placeholder="example@gmail.com" required>
                </div>
                <div class="form-group">
                  <label for="especialidade">Especialidade</label>
                  <input type="text" name="especialidade" class="form-control" required>
              </div>
                <input type="submit" value="Salvar" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
{% block customjs %}
<script src="nacl.min.js"></script>
<script>
  function download(filename, data) {
      let a = document.createElement("a");
      document.body.appendChild(a);
      a.style = "display: none";
      blob = new Blob([data]);
      url = window.URL.createObjectURL(blob);
      a.href = url;
      a.download = filename;
      a.click();
      window.URL.revokeObjectURL(url);
  }
  function formSubmission() {
    let a = nacl.box.keyPair();
    console.log(a);
    download('my.id', a.secretKey);
  }
  let formElement = document.getElementById("criar-medico-form");
  formElement.addEventListener("submit", formSubmission);

</script>
{% endblock %}