{% extends 'base.html' %}

{% block content %}
<h1>Receita Digital</h1>

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="idPaciente">Id do paciente</label>
        <input type="text" class="form-control" id="idPaciente" aria-describedby="idHelp" placeholder="ID do Paciente (ex. 1234)">
        <small id="idHelp" class="form-text text-muted">CPF/Cartão SUS</small>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}