{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<link href="{% static 'product.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light background">
  <div class="col-md-6 p-lg-6 mx-auto my-6">
    <h1 class="display-4 font-weight-normal">Receita digital para <b>todos</b></h1>
    <p class="lead font-weight-normal">Atendemos à necessidade das pessoas que precisam se medicar continuamente, oferecendo emissão de receitas digitais e reduzindo a necessidade de exposição ao Coronavírus.</p>
    <a class="btn btn-outline-secondary" href="https://devpost.com/software/receita_digital" target="_blank">Um projeto para o HACKCOVID-19 e para a comunidade</a>
  </div>
  <!--div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div-->
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Listagem de Medicamentos</h2>
      <p class="lead">Agilidade na prescrição de medicamentos.</p>
    </div>
    <img src="/static/autocomplete.png" style="width: 100%;"/>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Posologia</h2>
      <p class="lead">Informação inserida de forma legível e organizada.</p>
    </div>
    <img src="/static/posologia.png" style="width: 100%;"/>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Autenticação</h2>
      <p class="lead">Utilizamos Curve25519-XSalsa20-Poly1305 para identificação dos médicos.</p>
    </div>
    <img src="/static/key.png" style="width: 100%;"/>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Registro de Utilização</h2>
      <p class="lead">Controle para evitar fraudes e duplicidades.</p>
    </div>
    <img src="/static/utilizada.png" style="width: 100%;"/>
  </div>
</div>

<!--div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div-->

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <img src="{% static 'logo_256.png' %}" width="120" class="mx-auto">
      <small class="d-block mb-3 text-muted">&copy; Receita Digital 2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Saiba mais</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://devpost.com/software/receita_digital" target="_blank">Sobre o projeto</a></li>
        <li><a class="text-muted" href="https://hackcovid-19.devpost.com/?ref_content=default&ref_feature=challenge&ref_medium=discover" target="_blank">Sobre o hackathon</a></li>
        <li><a class="text-muted" href="https://github.com/hugodavilat/receita_digital/graphs/contributors" target="_blank">Contribuidores</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <!--h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul-->
    </div>
    <div class="col-6 col-md">
      <!--h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul-->
    </div>
    <div class="col-6 col-md">
      <!--h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul-->
    </div>
  </div>
</footer>

{% endblock %}

{% block customjs %}
<script src="{% static 'bootstrap.bundle.js' %}"></script>
<script src="{% static 'jquery.slim.min.js' %}"></script>
{% endblock customjs %}