{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- Bootstrap -->
    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
        <link type="text/x-scss" href="{% static 'scss/theme.scss' %}" rel="stylesheet" media="screen">
        {% block customcss %}{% endblock customcss %}
    {% endcompress %}
    <title>Receita Digital{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'partials/_navbar.html' %}

    <div class="h-100 w-100 bg-light" style="position: absolute;">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block customjs %}{% endblock customjs %}

</body>
</html>